<footer>
  <div class="footer_section_one common_section">
      <div class="section_inner">
          <div class="row clearfix">
              <div class="col_left">
                  <form >
                      <h5 class="footer_title">Sign up and <br>
                          get free content every week.</h5>
                          <div class="form_group">
                              <input placeholder="Enter your email..." type="email" class="form_input">
                          </div>
                          <div class="form_group">
                              <button class="btn btn_default">Sign Up</button>
                          </div>
                  </form>
              </div>
              <div class="col_right">
                  <h5 class="footer_title" >Browse by categories</h5>
                  <div class="pages_links_wrapper">
                      <div class="w_25">
                          <a href="#">Graphics</a>
                          <a href="#">PSDs</a>
                          <a href="#">Icons</a>
                          <a href="#">Templates</a>
                          <a href="#">Themes</a>
                      </div>
                      <div class="w_25">
                          <a href="#">Addons</a>
                          <a href="#">Fonts</a>
                          <a href="#">Textures</a>
                          <a href="#">Patterns</a>
                          <a href="#">Backgrounds</a>
                      </div>
                      <div class="w_25">
                          <a href="#">Buttons</a>
                          <a href="#">Forms</a>
                          <a href="#">GUI</a>
                          <a href="#">Navigation</a>
                          <a href="#">UI Kits</a>
                      </div>
                      <div class="w_25">
                          <a href="#">Inforgraphics</a>
                          <a href="#">Graphs</a>
                          <a href="#">Logos</a>
                          <a href="#">Vectors</a>
                          <a href="#">Business Cards</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer_section_two common_section">
      <div class="section_inner">
          <div class="row clearfix">
              <div class="col_left">
                  <ul class="pages_li">
                      <li><a href="#">Affiliates</a></li>
                      <li><a href="#">Contributors</a></li>
                      <li><a href="#">Press/Media</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
                  <p class="copyright_txt">Copyright © 2018 myCompany All rights reserved.</p>
              </div>
              <div class="col_right">
                  <ul class="social_icons_li">
                      <li>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-rss"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>